@import '~src/assets/base/variables';

.todo-list {
  max-width: 600px;
  margin: 0 auto;
  border-radius: $border-radius;
  background-color: $gray-light;
  box-shadow: 5px 6px 14px -6px rgba($black, .2);
  overflow: hidden;

  &__header {
    padding: 22px 20px;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  &__add-btn {
    position: absolute;
    right: 20px;
    bottom: -20px;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 0 0 2px;
    background-color: $red;
    color: $white;
    border: none;
    z-index: 1;
    transition: background-color .2s;

    &:hover {
      background-color: rgba($red, .8);
    }
  }
  
  &__body {
    background-color: $white;

    >p {
      margin: 0;
    }
  }

  &__msgs {
    padding: 20px;
    text-align: center;
  }

  &__day {
    font-size: 26px;
    color: $blue;
    font-weight: normal;
  }
}