@import '~src/assets/base/variables';

.todo-list {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: $gray-light;

  &__header,
  &__body {
    padding: 15px 20px;
  }

  &__header {
    border-bottom: 1px solid $gray-light3;
  }
  
  &__body {
  }
}