<section class="todo-list">
  <header class="todo-list__header">
    <div>
      <div class="todo-list__day">
        <strong>{{ dataObj | date : 'EEEE' }},</strong> {{ dataObj | date : 'd' }}
      </div>
      <span class="gray-text">{{ dataObj | date: 'MMMM' }}</span>
    </div>
    <div>
      <div class="todo-list__tasks gray-text">
        <strong>{{ taskCounter }}</strong> Tasks
      </div>
    </div>
    <button type="button" class="todo-list__add-btn" (click)="modal.open(); taskForm.inputFocus()">+</button>
  </header>
  <body class="todo-list__body">
    <app-todo-list-item
      *ngFor="let item of toDoList"
      [listItem]="item"
      (doneItem)="checkItem($event)"
      (removeItem)="removeItem($event)"
    ></app-todo-list-item>
    <p class="todo-list__msgs" *ngIf="toDoList.length < 1">Have no tasks</p>
  </body>
</section>

<app-modal-popup #modal (onClose)="taskForm.inputClear()" [title]="'New task'">
  <app-task-form #taskForm (onSubmit)="addItem($event); modal.close(); taskForm.inputClear()" (onClose)="modal.close(); taskForm.inputClear()"></app-task-form>
</app-modal-popup>