$white: #fff;
$gray: #888;
$gray-light: #eee;
$gray-light2: #f0f1f5;
$gray-light3: #d5d5e3;
$black-light: #9191a8;
$black-light2: #666;
$black: #000;
$blue: #7c80fb;
$red: #fb6c6c;
$green: #57cb62;
$yellow: #d3d328;

// Decorations
$border-radius: 8px;
$border-radius-sm: 3px;