$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);


@import 'assets/vendors/include-media';
@import 'assets/vendors/normalize';
@import 'assets/base/variables';
@import 'assets/base/typography';

.container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}

body, html {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}